<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script language="javascript" src="/static/jquery.js"></script>
    <script language="javascript" src="/static/jquery-migrate-1.1.0.js"></script>
    <script language="javascript" src="/static/jquery.jqprint-0.3.js"></script>
    <script language="javascript">


        $(function(){
            $("#print").jqprint();
        });
    </script>
    <style type="text/css">


    </style>
</head>
<body>
<div id="print" style="margin: 0;padding: 0;height: 1100px;width: 794px;font-family: 楷体;font-size: 20px">
<table style="height: 1100px;width: 794px">
<tr>
    <td style="height: 80px"></td>
</tr>
<tr>
<td style="width: 100%">
<table cellpadding="0" cellspacing="0" style="width: 100%">
<tr>
<td style="width: 128px">
    <table cellpadding="0" cellspacing="0" style="height: 100%;width: 100%">
        <tr>
            <td style="width: 50%;height: 450px"></td>
            <td style="border-left: 1px dashed #000000;width:50%"></td>
        </tr>
        <tr style="height: 100px;text-align: center">
            <td colspan="2">
                <table cellpadding="0" cellspacing="0"
                       style="height:90%;text-align: center;width: 100%;font-family: 宋体;font-size: 15px">
                    <tr>
                        <td>装</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>订</td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>线</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 50px;height: 450px"></td>
            <td style="border-left: 1px dashed #000000"></td>
        </tr>
    </table>
</td>
<td style="width: 610px">

<table cellpadding="0" cellspacing="0" style="width: 100%">
<tr>
    <td style="text-align: center;font-family: 宋体;font-size: 25px;font-weight: bolder">中国人民政治协商会议上海市徐汇区委员会</td>
</tr>
<tr>
    <td height="15px"></td>
</tr>
<tr>
    <td style="text-align: center;font-size: 35px;font-weight: bold">提&nbsp;案&nbsp;第&nbsp;<u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</u>&nbsp;号
    </td>
</tr>
<tr>
    <td style="height: 30px">
        <table>
            <tr>
                <td style="
    width: 40px;
    text-align: left;
"> 类
                </td>
                <td style="
    width: 20px;
    text-align: left;
">别
                </td>
                <td>(</td>
                <td style="
    width: 120px;
"></td>
                <td>
                    )
                </td>
                <td style="
    width: 70px;
    text-align: center;
">201
                </td>
                <td style="
    width: 50px;
">年
                </td>
                <td style="
    width: 50px;
">月
                </td>
                <td>日</td>
                <td style="
    width: 150px;
    text-align: center;
"> 全会第
                </td>
                <td>组</td>
            </tr>
        </table>


    </td>
</tr>
<tr>
<td>

<table cellpadding="0" cellspacing="0" style="text-align: center;width:100%">
<tr>
    <td style="width: 50px;height: 70px;">
        <table cellpadding="0" cellspacing="0" style="text-align: center;width: 100%;height: 100%">
            <tr>
                <td style="border: 1px solid black;border-right:none;border-bottom: none"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-bottom: none;border-top: none;border-right: none">案</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-top: none;border-right: none;border-bottom: none ">
                    由
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none">


                </td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;"></td>
            </tr>
        </table>
    </td>
    {#                <td style="border: 1px solid black;border-right:none;width: 50px;padding: 5px 5px 5px 5px">#}
    {#                    #}
    {#                </td>#}


    <td style="border: 1px solid black;width: 500px;">{{ Issue.biaoti }}</td>
</tr>

<tr>
    <td style="width:50px;height: 250px;">
        <table cellpadding="0" cellspacing="0" style="text-align: center;width: 100%;height: 100%">

            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-bottom: none;border-right: none;border-top: none">提</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-bottom: none;border-right: none;border-top: none">案</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right: none;border-bottom: none ">发</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right: none ;border-bottom: none">起</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right: none ;border-bottom: none">人</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>

            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none"></td>
            </tr>
        </table>


    </td>
    {#                <td style="border: 1px solid black;border-right:none;border-top:none;width: 50px;padding: 5px 5px 5px 5px">#}
    {#                    提案发起人#}
    {#                </td>#}
    <td style="border: 1px solid black;border-top:none;width:600px;height: 250px;">
        <table style="width: 100%;height: 100%;text-align: center" cellpadding="0" cellspacing="0">
            <tr>
                <td style="border: 1px solid black;border-left: none;border-top: none;height: 40px;width: 100px;text-align: center">
                    委员姓名
                </td>
                <td style="border: 1px solid black;border-top: none;border-left: none;width: 130px">{{ writer1.name }}</td>
                <td style="border: 1px solid black;border-left: none;border-right: none;border-bottom: none;border-top: none;width: 100px">
                    工作单位
                </td>
                <td style="border: 1px solid black;border-right: none;border-top: none;border-bottom: none;text-align: left;;font-size: 15px">{{ workpos1 }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-left: none;border-top: none;width: 100px">
                    编&nbsp;&nbsp;&nbsp;&nbsp;号
                </td>
                <td style="border: 1px solid black;border-top: none;border-left: none;width: 130px">{{ writer1.wyno }}</td>
                <td style="border: 1px solid black;border-left: none;border-right: none;border-top: none;width: 100px">
                    和职务
                </td>
                <td style="border: 1px solid black;border-top: none;border-right: none;text-align: left;font-size: 15px">{{ workpos2 }}</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top: none;border-left: none;border-bottom: none;">

                </td>
                <td colspan="3">
                    <table cellpadding="0" cellspacing="0"
                           style="width: 100%;text-align: left">
                        <tr>
                            <td style="width: 120px">&nbsp;单位地址&nbsp;</td>
                            <td style="font-size: 15px;"> {{ writer1.workplace }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width:100px;border-right: 1px solid black">
                    <table cellpadding="0" cellspacing="0"
                           style="width: 100%;text-align: center">

                        <tr>
                            <td style="height: 80%"></td>
                        </tr>

                        <tr>
                            <td>联&nbsp;&nbsp;&nbsp;系</td>
                        </tr>
                    </table>
                </td>
                <td colspan="3">
                    <table cellpadding="0" cellspacing="0"
                           style="width: 100%;text-align: left">
                        <tr>
                            <td style="width: 60px;text-align: right">邮编
                            </td>
                            <td style="width: 60px; font-size: 15px">{{ writer1.workzip }}</td>
                            <td style="width:50px">电话</td>
                            <td style="width:100px;font-size: 15px">{{ writer1.workphone }}</td>
                            <td style="width: 80px;">e-mail</td>
                            <td style="width:150px;font-size: 15px">{{ writer1.mailadd }}</td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr>
                <td style="width:100px;border-right: 1px solid black">
                    <table cellpadding="0" cellspacing="0"
                           style="width: 100%;text-align: center">

                        <tr>
                            <td>方&nbsp;&nbsp;&nbsp;式</td>
                        </tr>
                        <tr>
                            <td style="height: 80%"></td>
                        </tr>

                    </table>
                </td>
                <td colspan="3" style="border-top: 1px solid black;">
                    <table cellpadding="0" cellspacing="0"
                           style="width: 100%;text-align: left">
                        <tr>
                            <td style="width: 120px">&nbsp;家庭地址&nbsp;</td>
                            <td style="font-size: 15px;">{{ writer1.homeplace }}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top: none;border-left: none;border-bottom: none;">

                </td>
                <td colspan="3">
                    <table cellpadding="0" cellspacing="0"
                           style="width: 100%;text-align: left">
                        <tr>
                            <td style="width: 60px;text-align: right">邮编
                            </td>
                            <td style="width: 80px;font-size: 15px">{{ writer1.homezip }}</td>
                            <td style="width:50px">电话</td>
                            <td style="width:100px;font-size: 15px">{{ writer1.homephone }}</td>
                            <td style="width: 80px">手机</td>
                            <td style="width:150px;font-size: 15px">{{ writer1.cellphone }}</td>
                        </tr>
                    </table>
                </td>
            </tr>


        </table>


    </td>
</tr>
<tr>
    <td style="width:50px;height: 150px;">
        <table cellpadding="0" cellspacing="0" style="text-align: center;width: 100%;height: 100%">

            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-bottom: none;border-right: none;border-top: none">第</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-bottom: none;border-right: none;border-top: none">二</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-bottom: none;border-right: none;border-top: none;text-align: right">
                    、
                </td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-bottom: none;border-right: none;border-top: none">第</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-bottom: none;border-right: none;border-top: none">三</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right: none;border-bottom: none ">提</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right: none ;border-bottom: none">案</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right: none ;border-bottom: none">人</td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none;border-bottom: none"></td>
            </tr>

            <tr>
                <td style="border: 1px solid black;border-top:none;border-right:none"></td>
            </tr>
        </table>


    </td>
    <td style="border-left: 1px solid black;height: 150px">
        <table cellpadding="0" cellspacing="0" style="text-align: center;width: 100%;height: 100%">
            <tr>
                <td style="border-bottom: 1px solid black;width:100px;">委员姓名</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;width: 110px;">{{ writer2.name }}</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;width: 100px;">
                    电&nbsp;&nbsp;&nbsp;&nbsp;话
                </td>
                <td style="border: 1px solid black;border-right:none;border-top:none;width: 110px;">{{ writer2.workphone }}</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;width: 50px;">
                    手机
                </td>
                <td style="border: 1px solid black;border-top:none;">{{ writer2.cellphone }}</td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid black;width:100px;">编&nbsp;&nbsp;&nbsp;&nbsp;号</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;">{{ writer2.wyno }}</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;">
                    联系地址
                </td>
                <td style="border: 1px solid black;border-right:none;border-top:none;font-size: 15px">{{ writer2.workplace }}</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;">
                    邮编
                </td>
                <td style="border: 1px solid black;border-top:none;">{{ writer2.workzip }}</td>
            </tr>
            <tr>
                <td style="border-bottom: 1px solid black;">委员姓名</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;">{{ writer3.name }}</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;">
                    电&nbsp;&nbsp;&nbsp;&nbsp;话
                </td>
                <td style="border: 1px solid black;border-right:none;border-top:none;">{{ writer3.workphone }}</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;">
                    手机
                </td>
                <td style="border: 1px solid black;border-top:none;">{{ writer3.cellphone }}</td>
            </tr>

            <tr>
                <td style="border-bottom: 1px solid black;width:100px;">编&nbsp;&nbsp;&nbsp;&nbsp;号</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;">{{ writer3.wyno }}</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;">
                    联系地址
                </td>
                <td style="border: 1px solid black;border-right:none;border-top:none;;font-size: 15px">{{ writer3.workplace }}</td>
                <td style="border: 1px solid black;border-right:none;border-top:none;">
                    邮编
                </td>
                <td style="border: 1px solid black;border-top:none;">{{ writer3.workzip }}</td>
            </tr>

        </table>


    </td>
</tr>


</table>


</td>
</tr>
<tr>
    <td style="height: 350px">
        <table cellpadding="0" cellspacing="0" style="width:100%;text-align: center;height: 100%">
            <tr>
                <td style="width: 100px;border-right: 1px solid black;border-bottom: 1px solid black;border-left: 1px solid black;height: 70px">
                    其他联名<br>委员
                </td>
                <td style="text-align: right;border-bottom: 1px solid black;border-right: 1px solid black"><span
                        style="text-align: left;width: 250px;display: inline-block">{{ writerothers }}</span>(联名提案答复前三名)&nbsp;&nbsp;
                </td>
            </tr>
            <tr>
                <td style="width: 100px;border: 1px solid black;border-top: none;height: 80px">委员意向</td>
                <td style="text-align: right;border: 1px solid black;border-left: none;border-top: none">
                    <table cellpadding="0" cellspacing="0" style="width:100%;text-align: center;height: 100%">
                        <tr>
                            <td style="border-bottom:1px solid black;border-right:1px solid black">承办单位</td>
                            <td style="border-bottom:1px solid black;text-align: left">（主办）</td>
                            <td style="border-bottom:1px solid black"></td>
                            <td style="border-bottom:1px solid black;text-align: left;">（会办）</td>
                            <td style="border-bottom:1px solid black"></td>
                        </tr>
                        <tr>
                            <td style="border-right:1px solid black">提案类别</td>
                            <td colspan="2" style="height: 40px">
                                <div style="width: 14px;border:1px solid black;height: 14px;display: inline-block"></div>
                                意见建议类
                            </td>
                            <td colspan="2" style="height: 40px">
                                <div style="width: 14px;border:1px solid black;height: 14px;display: inline-block"></div>
                                解决具体问题类
                            </td>
                        </tr>
                    </table>


                </td>
            </tr>
            <tr>
                <td style="width: 100px;border: 1px solid black;border-top: none;height: 80px">审查意见</td>
                <td style="text-align: right;border: 1px solid black;border-left: none;border-top: none">


                    <table cellpadding="0" cellspacing="0" style="width:100%;text-align: left;height: 100%">
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;
                                <div style="width: 14px;border:1px solid black;height: 14px;display: inline-block"></div>
                                同意立案
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;
                                <div style="width: 14px;border:1px solid black;height: 14px;display: inline-block"></div>
                                不予立案
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>签名</td>
                            <td>201 年 月 日</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="width: 100px;border: 1px solid black;border-top: none;height: 50px">领导批示</td>
                <td style="text-align: right;border: 1px solid black;border-left: none;border-top: none"></td>
            </tr>
            <tr>
                <td style="width: 100px;border: 1px solid black;border-top: none;height: 100px">办理单位</td>
                <td style="text-align: right;border: 1px solid black;border-left: none;border-top: none">

                    <table cellpadding="0" cellspacing="0" style="width:100%;text-align: left;height: 100%">
                        <tr>
                            <td style="border-bottom: 1px solid black;">&nbsp;主办</td>
                        </tr>
                        <tr>
                            <td>&nbsp;会办</td>
                        </tr>
                    </table>


                </td>
            </tr>
        </table>
    </td>
</tr>

</table>


</td>
<td style="width: 50px"></td>
</tr>
</table>
</td>
</tr>
<tr>
    <td style="height: 30px"></td>
</tr>
</table>


</div>
</body>
</html>