{% extends 'base.html' %}{% load static from staticfiles %}


{% block icontent %}
    <div class="wrapper wrapper-content animated fadeInLeft">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <h2 id="tianleixing"></h2>

                        <form id="form" action="{{ thispath }}" class="wizard-big" method="POST">
                            {% csrf_token %}
                            <h1><strong>修改</strong> 标题 情况反映 意见和建议</h1>
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <h4>标题
                                            </h4>
                                            <input id="biaoti" name="biaoti" type="text" class="form-control required"
                                                   value="{{ biaoti }}"
                                                   maxlength="50">
                                        </div>
                                        <div class="form-group">
                                            <h4>情况反映
                                            </h4>
                                            <textarea id="qkfy" name="qkfy" rows="6"
                                                      class="form-control"
                                            >{{ qkfy }}</textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <h4>
                                                意见和建议
                                            </h4>
                                            <textarea id="yjhjy" name="yjhjy" rows="6"
                                                      class="form-control">{{ yjhjy }}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <input type="hidden" name="iid" id="iid" value="{{ iss.pk }}">
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal inmodal" id="changehelpModal" tabindex="-1" role="dialog" aria-hidden="true"
         style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInDown">
                <div class="modal-header">
                    <h4 class="modal-title">{{ tos }}修改说明</h4>
                </div>
                <div class="modal-body">
                    <ol >
                        <li>{{ tos }}的<strong>基本信息</strong>无法修改</li>

                        <li>只能修改 <strong>标题</strong> <strong>情况反映</strong> <strong>意见和建议</strong></li>

                        <li><small>注:</small>如果想修改基本信息,您可以在个人中心删除该<strong>{{ tos }}</strong>后,重新添加 </li>
                    </ol>
                </div>
                <div class="modal-footer" style="text-align:center">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">我知道了</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block mcss %}
    <link href="{% static "css/plugins/iCheck/custom.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/steps/jquery.steps.css" %}" rel="stylesheet">
    <link href="{% static "css/plugins/chosen/chosen.css" %}" rel="stylesheet">

{% endblock %}
{% block mstyle %}

    <style>

        .wizard > .content > .body {
            position: relative;
        }

    </style>

{% endblock %}
{% block bscript %}


    <!-- Steps -->
    <script src="{% static "js/plugins/staps/jquery.steps.min.js" %}"></script>

    <!-- Jquery Validate -->
    <script src="{% static "js/plugins/validate/jquery.validate.min.js" %}"></script>
    <script src="{% static "js/plugins/chosen/chosen.jquery.js" %}"></script>
    <!-- iCheck -->
    <script src="{% static "js/plugins/iCheck/icheck.min.js" %}"></script>

    <script>

        $(document).ready(function () {

            $("#changehelpModal").modal()
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {

                },
                onFinishing: function (event, currentIndex) {

                    if ($("#qkfy").val() || $("#yjhjy").val()) {

                        var form = $(this);
                        form.validate().settings.ignore = ":disabled";
                        return form.valid();


                    }
                    else {

                            swal({
                                title: "内容有错",
                                text: "情况反映 意见和建议 不能全为空",
                                type: "error"
                            });
                        return false;
                    }


                },
                onFinished: function (event, currentIndex) {

                    var form = $(this);
                    swal({
                        title: "确定要修改吗?",
                        text: "<p>{{ tos }}修改之后,是可以<strong>继续修改和删除</strong>的,</br>但是必须是在{{ tos }}被<strong>发布或立案</strong>之前</p>",
                        html: true,
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定修改",
                        cancelButtonText: "再看看",
                        closeOnConfirm: false,
                    }, function () {
                        form.submit();
                    });
                    return false

                },
                enableCancelButton: false,
                enablePagination: true,
                /* Labels */
                labels: {
                    cancel: "取消",
                    current: "当前步:",
                    pagination: "页码",
                    finish: "完成",
                    next: "下一步",
                    previous: "上一步",
                    loading: "加载中 ..."
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    confirm: {
                        equalTo: "#password"
                    }
                }
            });


        });

        jQuery.extend(jQuery.validator.messages, {
            required: "不能留空",
            remote: "请修正该字段",
            email: "请输入正确格式的电子邮件",
            url: "请输入合法的网址",
            date: "请输入合法的日期",
            dateISO: "请输入合法的日期 (ISO).",
            number: "请输入合法的数字",
            digits: "只能输入整数",
            creditcard: "请输入合法的信用卡号",
            equalTo: "请再次输入相同的值",
            accept: "请输入拥有合法后缀名的字符串",
            maxlength: jQuery.validator.format("不能超过{0}字 "),
            minlength: jQuery.validator.format("不能少于{0}字 "),
            rangelength: jQuery.validator.format("请输入 一个长度介于 {0} 和 {1} 之间的字符串"),
            range: jQuery.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
            max: jQuery.validator.format("请输入一个最大为{0} 的值"),
            min: jQuery.validator.format("请输入一个最小为{0} 的值")
        });

        function forbidBackSpace(e) {
            var ev = e || window.event; //获取event对象
            var obj = ev.target || ev.srcElement; //获取事件源
            var t = obj.type || obj.getAttribute('type'); //获取事件源类型
//获取作为判断条件的事件类型
            var vReadOnly = obj.readOnly;
            var vDisabled = obj.disabled;
//处理undefined值情况
            vReadOnly = (vReadOnly == undefined) ? false : vReadOnly;
            vDisabled = (vDisabled == undefined) ? true : vDisabled;
//当敲Backspace键时，事件源类型为密码或单行、多行文本的，
//并且readOnly属性为true或disabled属性为true的，则退格键失效
            var flag1 = ev.keyCode == 8 && (t == "password" || t == "text" || t == "textarea") && (vReadOnly == true || vDisabled == true);
//当敲Backspace键时，事件源类型非密码或单行、多行文本的，则退格键失效
            var flag2 = ev.keyCode == 8 && t != "password" && t != "text" && t != "textarea";
//判断
            if (flag2 || flag1) return false;
        }
        //禁止后退键 作用于Firefox、Opera
        // document.onkeypress = forbidBackSpace;
        //禁止后退键 作用于IE、Chrome
        document.onkeydown = forbidBackSpace;
    </script>

{% endblock %}